@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------------------------------------------Fonts*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya', sans-serif;
}
body {
    font-family: 'Poppins', sans-serif;
}

/*----------------------------------------------Header*/

#title {
    color: #36454f;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
}

.navbar-brand {
    font-size: 170%;
}

.navbar-nav .nav-item .nav-link {
    color: #36454f;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #2E5476;
}

/*----------------------------------------------Hero image and quotes*/
.quote-bg-img {
    background: url(../images/quote-bg-img.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    margin-bottom: 20px;
}

.hero-quote {
    font-size: 450%;
    font-weight: 500;
    padding: 20px;
    padding-left: 350px;
    padding-top: 70px;
    text-align: center;
    position: relative;
    color: #36454f;
}

.hero-person {
    font-family: 'Poppins', sans-serif;
    text-align: right;
    padding-right: 40px;
    position: relative;
    color: #36454f;
    }

/*----------------------------------------------Dropdown menus*/
.dropdown-heading {
    text-align: center;
    font-family: 'Alegreya', sans-serif;
    color: #36454f;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 5px;
}

.dropdown-menus {
    position: relative;
    margin: auto;
    width: 60%;
}

.dropdown-1, .dropdown-2, .dropdown-3 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

/*----------------------------------------------Map*/
#map {
    min-height: 600px;
    margin-top: 20px;
}

/*----------------------------------------------Form*/

.form {
    background-color: #36454f;
    padding-bottom: 30px;
}

.form-header {
    text-align: center;
    padding-top: 10px;
    font-size: 200%;
    color: #F5F5F5;
}

.form, label {
    color: #F5F5F5;
}

#fname, #lname, #email {
    width: 30%;
}

.form, input, label {
    display: block;
    margin-left: 30px;
    margin-top: 10px;
}

.btn {
    margin-top: 20px;
    margin-left: 30px;
    background-color: #2E5476;
    border-color: #F5F5F5;
}

.btn:hover {
    background-color: #192e40;
    border-color: #2E5476;
}

/*----------------------------------------------Footer*/

.container-fluid {
    padding: 0;
    margin: 0;
}

.social-links {
    text-align: center;
} 

.list-inline-item {
    font-size: 200%;
    padding-left: 10px;
    padding-right: 10px;
}

.list-inline-item, a {
    color: #36454f;
}

.list-inline-item, a:hover {
    color: #192e40;
    transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}